<!doctype html>

<html lang="en">
	<head>
	  	<meta charset="utf-8">

	  	<title>Wireworld Interactive</title>
	  	<meta name="Wireworld Interactive" content="A simple celluar automation">
	  	<meta name="Will Romano" content="Heroku">

	  	<link rel="stylesheet" href="css/styles.css?v=1.0">
	</head>

	<body>
		<h1>Hello heroku</h1>
	    	<p>It is currently {time}.</p>
	    	<p>This is a new paragraph</p>

	    	<img src="http://loremflickr.com/600/400">
	  	<!--<script src="js/scripts.js"></script>-->
	</body>
</html>
